<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add word</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          th:action="@{/words/add}"
          th:method="POST"
          th:object="${createWordDTO}"
          >

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="term" class="h4 mb-2">Term</label>
            </div>
            <textarea th:field="*{term}"
                      th:errorclass="'is-invalid bg-danger'"
                    type="text" class="form-control" id="term" name="term"></textarea>
            <small class="invalid-feedback text-danger">The term length must be between 2 and 40 characters!</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="translation" class="h4 mb-2">Translation</label>
            </div>
            <textarea th:field="*{translation}"
                      th:errorclass="'is-invalid bg-danger'"
                    type="text" class="form-control" id="translation" name="translation"></textarea>
            <small class="invalid-feedback text-danger">The translation length must be between 2 and 80 characters!</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="example" class="h4 mb-2">Example</label>
            </div>
            <textarea th:field="*{example}"
                      th:errorclass="'is-invalid bg-danger'"
                    type="text" class="form-control" id="example" name="example"></textarea>
            <small class="invalid-feedback text-danger">The example length must be between 2 and 200 characters!</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="inputDate" class="h4 mb-2">Set input date</label>
            </div>
            <input th:field="*{inputDate}"
                   th:errorclass="'is-invalid bg-danger'"
                    type="date" class="form-control" id="inputDate" name="inputDate"/>
            <small class="invalid-feedback text-danger">The input date must be in the past or present!</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="language" class="h4 mb-2">Language</label>
            </div>
            <select th:field="*{language}"
                    th:errorclass="'is-invalid bg-danger'"
                    class="browser-default custom-select" id="language" name="language">
                <option value="">Select language</option>
                <option value="GERMAN">German</option>
                <option value="FRENCH">French</option>
                <option value="SPANISH">Spanish</option>
                <option value="ITALIAN">Italian</option>
            </select>

            <small class="invalid-feedback text-danger">You must select a language!</small>
            <small th:if="${noSuchLanguage}" class="text-danger">Language does not exist!</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add word</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
